a {
  color: white;
}

.bold {
  font-weight: bolder
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.Body {
  flex: 1;
  padding-top: 50px;
}


body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: rgb(21, 21, 21);
  color: white;
  line-height: 1.5;
}

.navbar {
  position: fixed;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
  z-index: 1000;
  background-color: rgb(21, 21, 21);
  font-size: large;
}


.navbar a {
  margin-right: 20px;
  text-decoration: none;
}

.Projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.project {
  margin: 15px;
  padding-bottom: 50px;
  background: rgb(40, 44, 52);
  padding: 25px;
  border-radius: 5%;
  text-align: center;
  max-width: 400px;

}

.project img {
  height: 300px;
  margin-left: 5px;
}

.AboutMe {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  height: 80vh;
  flex-grow: 1;
}


.AboutMe .heading {
  font-size: 40px;
}

.AboutMe .paragraph {
  font-size: 20px;
}

@media (max-width: 1000px) {
  .AboutMe_ImageR {
    display: none;
  }


  .Projects {
    flex-direction: column;
    align-items: center;
  }

  .project {
    width: 80%;
  }

  .contact-form form {
    margin: 0 auto;
  }
}

@media (min-width: 1000px) {
  .AboutMe_ImageL {
    display: none;
  }

  .aboutMeInfo {
    margin-top: 20%;
  }
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-left: 20px;
  margin-right: 20px;
}

.contact-form form {
  background: rgb(40, 44, 52);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  background-color: rgb(97, 99, 99);
  font-size: medium;

}

.contact-form textarea {
  height: 200px;
}

.warning {
  color: red;
}

.contact-form input[type="submit"] {
  background-color: rgb(97, 218, 251);
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
  background-color: #7cff96;
}